@charset "utf-8";

html {}

body {
    width: 100vw;
}

/* header */
header {
    background: #186AC9;
    z-index: calc(infinity);
    position: fixed;
    width: 100%;
}

/* login.blade.php */
#head {
    height: 50px;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.logo img {
    height: 50px;
    margin-left: 40px;
}

.accordion {
    width: 300px;
    margin-right: 40px;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.accordion-title p {
    margin-left: 40px;
}

.accordion-title::after {
    border-right: solid 2px #fff;
    border-top: solid 2px #fff;
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    /* position: absolute; */
    right: 130px;
    top: 30%;
    transform: rotate(135deg);
    /*最初の矢印は下向き*/
    transition: transform .0s ease-in-out, top .0s ease-in-out;
}

.accordion-title.open::after {
    top: 40%;
    /*矢印の位置を少し変える*/
    transform: rotate(-45deg);
    /*矢印の向きを反転*/
}

.icon {
    height: 50px;
}

.accordion-content {
    display: none;
    background-color: #fff;
    margin-top: 30px;
    margin-right: -40px;
    border: 2px, solid, #0D2879;
}

.accordion-content li a {
    display: block;
    font-size: 23px;
    text-align: center;
    color: #727272;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}

.accordion-content li a:hover {
    background-color: #0D2879;
    color: #fff;
}

/* main content */
#row {
    display: flex;
    padding-top: 110px;
    position: relative;
}

#container {
    flex: 1;
    border-right: 1px solid #727272;
    z-index: 10;
    min-height: calc(100vh - 110px);
}

#side-bar {
    width: 260px;
    height: 30vh;
    padding: 40px;
    position: sticky;
    top: 110px;
    z-index: 5;
}

.number-of-follows {
    margin-top: 40px;
}

.number-of-follows p {
    display: block;
    float: left;
    width: 120px;
}

.number-of-followers {
    margin-top: 40px;
}

.number-of-followers p {
    display: block;
    float: left;
    width: 120px;
}

#confirm {
    height: 280px;
}

#confirm .btn a {
    color: #fff;
    display: block;
    width: 180px;
    background-color: #2455C7;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
    margin: 20px 0;
    float: right;
    border-radius: 5px;
}

.user-search-container {
    border-top: solid 1px #B6B6B6;
    margin: 0 -40px;
}

#user-search a {
    color: #fff;
    display: block;
    width: 180px;
    background-color: #2455C7;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
    margin: 30px auto;
    border-radius: 5px;
}

/* 投稿作成 */
.post-make {
    display: flex;
    border-bottom: 10px solid #E0E0E0;
    padding: 40px 80px;
}

.post-icon {
    min-width: 50px;
    max-width: 50px;
    margin-right: 10px;
}

.post-icon-img {
    width: 100%;
}

#post-write {
    flex-grow: 1;
    padding-right: 30px;
}

.post-write-form {
    background-color: #f6f8fc;
    border: none;
    height: 5rem;
    font-size: 16px;
    resize: none;
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
    margin-right: 10px;
}

.submit-btn {
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background: #2455c7;
    color: #ffffff;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-top: auto;
    transition: .3s;
    border: 2px solid #2455c7;
}

/* 投稿一覧 */
.posts-container {
    padding: 20px 20px 20px 120px;
    border-bottom: solid 1px #B6B6B6;
}

.posts-container:last-child {
    border: none;
}

.posts-wrapper {
    display: flex;
}

#posts {
    margin-left: 10px;
    flex: 1 1 auto;
}

#posts h2 {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

#post-content {
    white-space: pre-wrap;
    line-height: 1.6rem;
    margin-bottom: 5px;
}

#right-column {
    margin-left: 20px;
    min-width: 130px;
    position: relative;
}

.login-user-only {
    width: 100%;
    height: 50px;
    /* margin-top: -30px; */
    text-align: right;
    right: 0;
    bottom: 0;
}

.login-user-only a {
    display: inline-block;
    width: 50px;
    height: 50px;
    align-items: center;
}

#post-delete-btn:hover {
    background-color: #DB493E;
    border-radius: 5px;
    transition: .3s;

    .fa-trash-can {
        color: #fff;
        transition: .1s;
    }
}

.login-user-only a i {
    display: block;
    text-align: center;
    margin-top: 25px;
}

.fa-trash-can {
    color: #DB493E;
}

/* updateモーダル */
.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.4);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 20px 40px 5px 40px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.modal-close {
    text-align: right;
    margin-right: -20px;
    margin-bottom: 10px;
}

.js-modal-close {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.modal-content-post {
    text-align: center;
    width: 100%;
}

.modal_post {
    border-style: none;
    border: 1px solid #959595;
    padding: 20px;
    resize: none;
    width: 94%;
    height: 180px;
    font-size: 16px;
}

.update-btn {
    display: block;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    margin: 10px auto;
    appearance: none;
}

.update-btn i {
    font-size: 2.05rem;
    margin-top: -50px;
}

/* ユーザ検索 */
.search-container {
    border-bottom: 10px solid #E0E0E0;
    padding: 40px 80px;
}

.users-search {
    width: 300px;
    height: 48px;
    font-size: 16px;
    border: 1px solid #727272;
    padding: 0 12px;
    margin: 0;
}

.search-btn {
    display: inline-block;
    border: none;
    border-radius: 5px;
    background-color: #2455C7;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    cursor: pointer;
}

.search-word {
    display: inline-block;
    margin-left: 50px;
}

.user-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 30px 40px 0 40px;
    align-items: center;
}

.user-list:last-child {
    margin-bottom: 30px;
}

.user-info {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    width: 350px;
    align-items: center;
}

.user-icon-img {
    width: 50px;
    height: 50px;
}

.follow-btn {
    display: block;
    background-color: #69AAF8;
    color: #fff;
    font-size: 13px;
    width: 130px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.unfollow-btn {
    display: block;
    background-color: #DB493E;
    color: #fff;
    font-size: 13px;
    width: 130px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
